.first-sec{
    position:relative;
    color:#fff;
    width: 100%;
    height:100%;
    align-items: center;
    color: #000;
}
.first-sec-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    padding: 2rem 11.2vw;
}
@media (min-width:760.5px) and (max-width:1099px){
    .left-seg{
        width:20rem !important;
        padding:20vh 0vw 0 2.3vw !important;
    }
    .right-seg{
        width:20rem !important;
    }
}
@media screen and (max-width:960px){
    .first-sec-wrapper{
        grid-template-rows: 400px;
        padding: 2rem 0vw 10rem 5vw !important;
    }
}
@media screen and (max-width:830px){
    .first-sec-wrapper{
        grid-template-columns:1fr;
        grid-template-rows: 400px;
    }
    .left-seg{
        width:100% !important;
        padding:10vh 0 0 0vw !important;
    }
    .first-no-div{
        width:55vw !important;
        height: 35vh !important;
        font-size:14px;
    }
    .second-no-div{
        width:50vw !important;
        height:25vh !important;
        font-size:14px;
    
    }
    .right-seg{
        padding:5rem 0rem 2rem 6rem !important ;
    }

} 
.left-seg, .right-seg{
    display:flex;
    flex-direction: column;
}
.left-seg{
    width:30rem;
    max-width:90%;
    padding:20vh 2.3vw 0 2.3vw;
}
.right-seg{
    padding:0 0rem 0 2rem ;
    width:30rem;
}
.left-seg h1{
    padding: 2rem 0rem;
    color:rgb(75, 179, 168);
    font-size:36px;
    font-weight:800;
}
.left-seg p{
    font-size:16px;
    font-weight:400;
    line-height: 1.6;
}

.first-no-div{
    width:26.5vw;
    height: 45vh;
    background-color:dimgrey;
    margin: 0rem 0rem 0rem 5rem;
    border-radius: 1rem;
    color:#000;
    text-align: center;
}
.second-no-div{
    margin-top:-25%;
    width:25vw;
    height:35vh;
    background-color:dimgrey;
    border-radius: 1rem;
    color:#000;
    text-align: center;

}
.first-no-div h1, .second-no-div h1{
    padding: 15% 0 0 0;
}