.first-sec{
    position:relative;
    color:#fff;
    width: 100%;
    height:100%;
    align-items: left;
    color: #000;
}
.first-sec-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    padding: 2rem 11.2vw;
}
.left-seg, .right-seg{
    display:flex;
    flex-direction: column;
}
.left-seg{
    width:90%;
    padding:20vh 0 0 2.3vw;
}
.right-seg{
    padding:0 0.8rem 0 2rem ;
}
.left-seg h1{
    padding: 2rem 0rem;
    color:rgb(75, 179, 168);
    font-size:36px;
    font-weight:800;
}
.left-seg p{
    font-size:16px;
    font-weight:400;
    line-height: 1.6;
}

.first-no-div{
    width:500px;
    height: 100rem;
    background-color:dimgrey;
    margin: 0rem 0rem 0rem 5rem;
    border-radius: 1rem;
    color:#000;
    text-align: center;
}
.second-no-div{
    margin-top:-30%;
    width:400px;
    height:80rem;
    background-color:dimgrey;
    border-radius: 1rem;
    color:#000;
    text-align: center;

}
.first-no-div h1, .second-no-div h1{
    padding: 46% 0 0 0;
}