*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position: static;
}
.container {
  padding: 0 0vw;
  max-width: 1400px;
  margin: 0 auto;
}
.about,
.estate,
.contact {
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about{

  background-image: url('./images/about-image\ \(1\).jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color:#fff;
  font-size:30px;
}
.estate{
  background-image: url('./images/estate-image.jpg');
  background-position: center;
  background-size:fill;
  background-repeat: no-repeat;
  color:#fff;
  font-size:30px;
}
.contact{
  background-image: url('./images/sign-up.jpg');
  color:#fff;
  font-size:22px;
  opacity:1;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
